#header {
    position: relative;
    background-color: var(--theme-color-black);
    padding: 0 var(--content-side-padding);
    color: white;
    text-align: center;
    height: 86px;
}
#header .btn-menu {
    position: absolute;
    height: 100%;
    text-transform: uppercase;
}
#header .btn-menu > div {
    transform: translateY(200%);

}
#header .ico-menu {
    margin-right: 10px;
    vertical-align: middle;
}
