#header {
    position: relative;
    /* width: 100%; */
    background-color: var(--theme-color-2);
    padding: 0 var(--content-side-padding);
    color: white;
    text-align: center;
    height: var(--header-height);
    box-shadow: 0px 0px 10px 0px var(--theme-color-black);
}
#header .btn-menu {
    position: absolute;
    height: 100%;
    text-transform: uppercase;
    padding: 0 15px;
}
#header .btn-menu > div {
    transform: translateY(200%);

}
#header .ico-menu {
    margin-right: 10px;
    vertical-align: middle;
}
