.btn-menu {
    cursor: pointer;
}
.btn-menu span {
    transition: color  var(--animation-speed);
    color: white;
}
.btn-menu:hover span {
    transition: color  var(--animation-speed);
    color: var(--theme-color);
}

.ico-menu {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 13px;
}

.ico-menu .bar:nth-child(1) {
    top: 0;
}
.ico-menu .bar:nth-child(2) {
    top: 4px;
}
.ico-menu .bar:nth-child(3) {
    top: 8px;
}

.ico-menu .bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: background-color var(--animation-speed);
    border-radius: 2px;
    overflow: hidden;
}
.btn-menu:hover .ico-menu .bar {
    transition: background-color  var(--animation-speed);
    background-color: var(--theme-color);
}
